* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*1*/

.cont-icono {
    margin: 40px 50px;
    position: relative;
    z-index: 10;
}

.cont-icono img {
    vertical-align: top;
    width: 40px;
    cursor: pointer;
    padding: 5px;
    background-color: white;
}

.content-nav {
    background-color: black;
    width: 400px;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    transition: all .3s ease;
}

.active {
    transform: translate(-600px);
}

.opacity {
    background-color: rgba(0, 0, 0, 0.5);
    transition: all .3s ease;
}

.content-nav ul{
    padding: 100px 0px 20px 0px;
    list-style: none;
}

.content-nav li{
    color: white;
    display: block;
    font-size: 25px;
    text-decoration: none;
    padding: 10px 50px;
    cursor: pointer;
}

.content-nav ul li:hover {
    background-color: white;
    color: black;
}

/*3*/

.toDo-contain {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 50px;
}

.input-toDo {
    padding: 10px;
}

.btn-send {
    padding: 10px;
    font-weight: 600;
    color: white;
    background-color: black;
    cursor: pointer;
}

.content-toDo{
    width: 40%;
    margin-top: 30px;
    padding: 15px;
}

li {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: black;
    color: white;
    padding: 10px;
    font-size: 25px;
    width: 100%;
    border-radius: 5px;
    margin-top: 15px;
}

li p {
    width: 80%;
}

li img {
    width: 30px;
    background-color: white;
    padding: 5px;
    cursor: pointer;
}


/* Validacion Formulario */

.formulario {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #212529;
    width: 360px;
    height: 300px;
    border-radius: 4px;
    margin-top: 30px;
}
.form {
    width: 240px;
}
.form-t {
    color: #FFF;
    font-family: sans-serif;
    margin-bottom: 20px;
}
.form-input {
    padding: 8px;
    background-color: #343a40;
    border: 0.1px solid transparent;
}
.form-input:focus {
    outline: none;
}
.form-btn {
    font-family: sans-serif;
    padding: 4px 16px;
}
.form-control {
    position: relative;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
}
.form-label {
    color: #FFF;
    font-family: sans-serif;
    font-size: 18px;
    margin-bottom: 6px;
}
.form-control.ok input{
    border: 0.1px solid #08ffc8;
}
.form-control.falla input {
    border: 0.1px solid #fe5f55;
}
.form-control p {
    visibility: hidden;
    position: absolute;
    font-size: small;
    font-weight: 500;
    top: 62px;
}
.form-control.falla p {
    font-family: sans-serif;
    visibility: visible;
    color: #e74c3c;
}